* {
    box-sizing: border-box;
}
body a {
    text-decoration: none;
}
header nav ul li {
    list-style-type: none;
}
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}
.header__container {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    font-family: 'Roboto';
;
}
.header__menu {
    padding-left: 160px;
    justify-content: space-between;
}
.menu__list {
    display: flex;
}
.menu__item {
    padding-left: 28px;
}
.menu__link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
}
.header__logo {
    padding-left: 97px;
}
.header__iconSrc {
    padding-left: 188px;
    padding-right: 188px;
}
.wrapper__mainContainer {
    background: #F0EFEB;
    display: flex;

}
.wrapper__mainContainer_textBlock {
    width: calc(50% - 237px);
    height: auto;
    margin: 0 73px 0 220px;
}
.textBlock__item1 {
    font-size: 60px;
    color: #000000;
}
.textBlock__item2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.textBlock__button {
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    font-size: 17px;
    color: #FFFFFF;
}
